[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = "*"
option = "*"
pymongo = "*"
pydantic = "*"
python-dotenv = "*"
customtkinter = "*"
faker = "*"

[dev-packages]
ruff = "*"
black = "*"
isort = "*"

[requires]
python_version = "3"
